
.kaihutitle{
    font-weight: bold;

    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}
.kaihutip{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.kaihutip1{
    color: #9b9b9b;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}